<section>
    <div class="row">
        <div class="col s8">
            <div>
                    
            </div>
            <table class="hoverable responsive-table">
                <thead>
                    <tr>
                        <th class="ng-link" ng-click="sortType = 'title'; sortReverse = !sortReverse">Nom</th>
                        <th class="ng-link" ng-click="sortType = 'seeds'; sortReverse = !sortReverse">Seeds</th>
                        <th class="ng-link" ng-click="sortType = 'size'; sortReverse = !sortReverse">Size</th>
                    </tr>
                </thead>
                    <tr ng-repeat="movie in home.movies | orderBy:sortType:sortReverse" ng-click="showFiles(movie)" class="ng-link">
                        <td>{{movie.title | trim:50 }}</td>
                        <td><span class="badge ng-class:movie.health;">{{movie.seeds}}</span></td>
                        <td><span ng-bind='movie.size|formatSize'></span></td>
                    </tr>
            </table>
        </div>

        <div class="col s4 show-files full-height">
            <div class="col s12 file-title ng-class:home.choose.health">
                <h5>{{home.choose.name}}</h5>
            </div>
             <div class="col s12 collection">
                <span ng-repeat="file in home.choose.files">
                    <a href="#/watch/{{home.choose.hash}}?filename={{file}}" class="collection-item">{{file}}</a>
                </span>
            </div>
        </div>
    </div>
</section>