<!DOCTYPE html>
<html ng-app="ericflixApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ericflix</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="assets/lib/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="assets/stylesheets/style.css"  media="screen,projection"/>
    </head>
    <body>
        <div class="progress"><div class="indeterminate"></div></div>
        <!-- MAIN CONTENT -->
        
        <search-torrent></search-torrent>

        <section class="main-content" ng-view></section>
        

        <!-- LIBS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.4.0/lodash.js"></script>
        <script src="assets/lib/materialize/dist/js/materialize.min.js"></script>
        <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/4.12/video.js"></script>
        <script src="http://vjs.zencdn.net/4.12/video.js"></script>
        

        <!-- HTML APP -->
        <script src="assets/javascripts/app.html.js"></script>

        <!-- ANGULAR APP -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_fr-fr.js"></script>
        <script src="assets/lib/angular-sanitize/angular-sanitize.min.js"></script>

        <!-- VIDEOGULAR -->
        <script src="assets/lib/videogular/videogular.min.js"></script>
        <script src="assets/lib/videogular-controls/vg-controls.js"></script>
        <script src="assets/lib/videogular-overlay-play/vg-overlay-play.js"></script>
        <script src="assets/lib/videogular-buffering/vg-buffering.js"></script>
            
            <script src="modules/app.module.js"></script>
            <!-- controllers -->
            <script src="modules/components/home/home.controller.js"></script>
            <script src="modules/components/watch/watch.controller.js"></script>
            <!-- services -->
            <script src="modules/components/home/home.service.js"></script>
            <script src="modules/components/watch/watch.service.js"></script>
            <!-- directives -->
            <script src="modules/shared/search/search.directive.js"></script>
            <script src="modules/shared/video/video.directive.js"></script>
            <script src="modules/shared/files/files.directive.js"></script>
            <!-- filters -->
            <script src="modules/components/home/home.filters.js"></script>
    </body>
</html>